.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6rem;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 32ch;
}

.vercelLogo {
  height: 1em;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: radial-gradient(circle at center, rgba(var(--glow-rgb), 0.35), rgba(var(--background-start-rgb), 0) 45%);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
  z-index: 1;
  content: "";
  position: absolute;
  filter: blur(45px);
}

.center::after {
  background: conic-gradient(
      from 180deg at 50% 50%,
      #80d0c7 0deg,
      #13547a 55deg,
      #80d0c7 120deg,
      #13547a 160deg,
      transparent 360deg
    );
  width: 240px;
  height: 180px;
  z-index: 0;
  content: "";
  position: absolute;
  filter: blur(55px);
  transform: translate3d(0, 0, 0);
}

.logo,
.thirteen {
  position: relative;
  z-index: 2;
}

.logo {
  filter: drop-shadow(0 0 0.3rem rgba(var(--foreground-rgb), 0.3));
}

.thirteen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  background: rgba(var(--foreground-rgb), 0.05);
  border: 1px solid rgba(var(--foreground-rgb), 0.1);
  box-shadow: 0 2px 30px rgba(var(--background-start-rgb), 0.1);
}

.thirteen img {
  filter: drop-shadow(0 0 0.3rem rgba(var(--foreground-rgb), 0.3));
}

@media (max-width: 960px) {
  .grid {
    grid-template-columns: repeat(2, minmax(50%, auto));
  }
}

@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(50%, auto));
  }
}

@media (max-width: 600px) {
  .main {
    padding: 3rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .grid {
    grid-template-columns: repeat(1, minmax(100%, auto));
  }

  .card {
    padding: 1rem 1.5rem;
  }
}
